{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Bookss{% endblock %}
{% block body %}
  
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Books you currently have</h1>
                <div class=" container">
          {% if current_user.is_authenticated %}
                  {% if current_user.is_admin %}
                      <button class="btn btn-default"><a href="{{ url_for('home.admin_dashboard') }}">Admin Dashboard</a></button>
                    {% else %}

                 <button class="btn btn-default"><a href="{{ url_for('home.dashboard') }}"><< Return to Dashboard</a></li></button>
                  {% endif %}
          {% endif %}
        </div>
        {% if books %}
          <div class="container">
              {% for book in books %}
                  <div class="card-deck">
                    <div class="card col-md-3 card-f">
                      <div class="card-block">
                        <h4 class="card-title"><i class="glyphicon glyphicon-book"></i>  {{ book.title }}</h4>
                        <p class="card-text">{{ book.description }}</p>
                              <hr>
                              <div class="col-">
                        <small class="text-muted col-md-6 no-padding"><i class="glyphicon glyphicon-time" style="color:green;"></i> Date Borrowed: {{get_dates(current_user.id, book.id).borrow_date}}<hr></small>

                        <small class="text-muted col-md-6  no-padding"><i class="glyphicon glyphicon-time" style="color: red;"></i> Date Due: {{get_dates(current_user.id, book.id).return_date}}</small>
                        </div>
                      </div>
                  {% if current_user.id == book.user_id %}
                        <button class="btn btn-xs btn-info">
                                   <a href="{{ url_for('home.borrow_books', id=book.id, user_id = current_user.id) }}" style="color: white;">
                                    <i class="fa fa-thumbs"></i> Return Book
                                   </a>
                        </button>
                    {% endif %}
                    </div>
                  </div>
                  <!-- check if user is admin -->
              {% endfor %}
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3 class="lead"><i class="fa fa-space-shuttle"></i> You have not borrowed any books. </h3>
            <hr class="intro-divider">
        {% endif %}
      
        </div>
        </div>
        </div>
{% endblock %}