
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}


<div class="container margin-top-50">
</div>
{% if current_user %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h3> Welcome, Dashboard</h2>
                          <ul class="nav nav-pills  ">
                              <li><a class="btn btn-default" href="{{ url_for('admin.list_books') }}">Browse Books</a></li>
                              <li><a  class="btn btn-default" href="{{ url_for('home.list_borrowed_books') }}">Borrowed Books</a></li>
                                <ul class="nav nav-pills  pull-right">
                                <li role="presentation"><a href="#">Account Settings</a></li>
                            </ul>
                            </ul>
                          
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
        <div style="position: relative;" class="container">
            <img src="{{ url_for('static', filename='img/books.jpg') }}" width="100%" style="position:absolute; left:0px; top:0px;  ">

           <h2 align="center"> Welcome to Super lib! :-)</h2>
            <div align="center" class="card card-inverse card-danger col-md-12 " style="width: 100%;padding: 30px;">
              <div class="card-block" style="background: rgba(0,0,0,0.6); width: 100%;display: inline-block;">
              <h1 class="card-title" style="color:white;font-weight: bolder;font-size: 44px;"><i class="glyphicon glyphicon-book"></i> What book do you want to read..</h1>
              <p class="card-text">
              <i style="font-size:100px; color: green;"></i>
              </p>
             </div>

              </div>

           </div>
           <div class="container">
             <div align="center" class="card card-inverse card-danger col-md-12 " style="width: 100%;padding: 30px;">
              <div class="card-block" style="background: rgba(255,234,0,0.6); width: 30%;display: inline-block;">
              <h1 class="card-title" style="color:white;"><a class="white" href="{{ url_for('admin.list_books') }}">Browse Books</a></h1>
              <p class="card-text">
              <i style="font-size:100px; color: green;"></i>
              </p>
             </div>



           </div>

            {{no_of_books}}
    </div>
</div>
{% endif    %}
{% endblock %}