{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Bookss{% endblock %}
{% block body %}
  
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Books</h1>
        <div class="container">
          {% if current_user.is_authenticated %}
                  {% if current_user.is_admin %}
                      <button class="btn btn-default"><a href="{{ url_for('home.admin_dashboard') }}"><< Admin Dashboard</a></button>
                      <button class="btn btn-default pull-right" style="margin-right: 20%"><a href="{{ url_for('admin.add_book') }}">Add Book </a></button>
                    {% else %}

                 <button class="btn btn-default"><a href="{{ url_for('home.dashboard') }}"><< Return to Dashboard</a></button>
                  {% endif %}
          {% endif %}
        </div>
        {% if books %}
          <div class="container">
              {% for book in books %}
                  <div class="card-deck col-md-4 card-f">
                    <div class="col-md-12 ">
                      <div class="card-block">
                        <h4 class="card-title">{{ book.title }}</h4>
                        <p class="card-text">{{ book.description }}</p>
                      </div>
                  {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                      <div class="card-footer">
                        <button   class="btn btn-xs btn-info">
                               <a href="{{ url_for('admin.edit_book', id=book.id) }}">
                                 <i class="fa fa-pencil"></i> Edit 
                              </a>
                        </button>
                        <button class="btn btn-xs btn-danger">
                                   <a style="color: white;"  href="{{ url_for('admin.delete_book', id=book.id) }}">
                                    <i class="glyphicon glyphicon-trash"></i> Delete 
                                   </a>
                        </button>
                           <label class="pull-right">
                                    <small>Total: </small><button class="btn btn-xs btn-default"> {{book.quantity}}</button>
                        </label>
                      </div>
                      {% else %}
                                 <form action="{{url_for('home.borrow_books')}}" method="POST">
                                   <input type="hidden" name="book_id" value="{{book.id}}">
                                   <input type="hidden" name="user_id" value="{{current_user.id}}">
                                   <input type="submit" name="" value="Borrow Book" class="btn btn-success">
                                     
                                  </form>
                    {% endif %}
                  {% endif %}

                    </div>
                  </div>
                  <!-- check if user is admin -->
              {% endfor %}
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3 class="lead"> No Books have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
      
        </div>
        </div>
        </div>
{% endblock %}