{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Bookss{% endblock %}
{% block body %}
  
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Books for <i class="glyphicon glyphicon-user"></i>{{user.username}}</h1>
        <div class=" container">
          {% if current_user.is_authenticated %}
                  {% if current_user.is_admin %}
                      <button class="btn btn-default"><a href="{{ url_for('home.admin_dashboard') }}">Admin Dashboard</a></button>
                    {% else %}

                 <button class="btn btn-default"><a href="{{ url_for('home.dashboard') }}"><< Return to Dashboard</a></li></button>
                  {% endif %}
          {% endif %}
        </div>
        {% if books %}
          <div class="container">
              {% for book in books %}
                  <div class="card-deck">
                    <div class="card col-md-3 card-f">
                      <div class="card-block">
                        <h4 class="card-title">{{ book.title }}</h4>
                        <p class="card-text">{{ book.description }}</p>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Date Due: {{get_return_date(1)}} </small>
                      </div>
                  {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                      <div class="card-footer">
                                 <form action="{{url_for('admin.collect_book')}}" method="POST">
                                   <input type="hidden" name="book_id" value="{{book.id}}">
                                   <input type="hidden" name="user_id" value="{{current_user.id}}">
                                      <i class="glyphicon glyphicon-flash"></i>

                                   <input type="submit" name="" value="Collect Book Book" class="btn btn-xs btn-info">
                                     
                                  </form> </a>
                      </div>
                      {% else %}
                                 <form action="{{url_for('home.borrow_books')}}" method="POST">
                                   <input type="hidden" name="book_id" value="{{book.id}}">
                                   <input type="hidden" name="user_id" value="{{current_user.id}}">
                                   <input type="submit" name="" value="Borroe Book" class="btn btn-success">
                                     
                                  </form>
                    {% endif %}
                  {% endif %}

                    </div>
                  </div>
                  <!-- check if user is admin -->
              {% endfor %}
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3 class="lead"> No Books borrowed by this user. </h3>
            <hr class="intro-divider">
        {% endif %}
      
        </div>
        </div>
        </div>
{% endblock %}